<div class="account-pages my-5 pt-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="bg-soft bg-primary">
            <div class="row">
              <div class="col-7">
                <div class="text-primary p-4">
                  <h5 class="text-primary">Welcome Back !</h5>
                  <p>Sign in to continue to Skote.</p>
                </div>
              </div>
              <div class="col-5 align-self-end">
                <img
                  src="assets/images/profile-img.png"
                  alt=""
                  class="img-fluid"
                />
              </div>
            </div>
          </div>
          <div class="card-body pt-0">
            <div>
              <a routerLink="/">
                <div class="avatar-md profile-user-wid mb-4">
                  <span class="avatar-title rounded-circle bg-light">
                    <img
                      src="assets/images/logo-kma.png"
                      alt=""
                      class="rounded-circle"
                      height="34"
                      style="position: absolute; top: 0"
                      (click)="goToLandingPage()"
                    />
                  </span>
                </div>
              </a>
            </div>
            <div class="p-2">
              <form class="form-horizontal" #myForm="ngForm">
                <div class="row mb-3">
                  <span class="text-center fs-3 mb-3"><b>Đăng nhập</b></span>
                  <span class="text-center">Đăng nhập và bắt đầu ngay</span>
                </div>

                <div class="mb-3">
                  <label for="username">Tên tài khoản</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Tên tài khoản"
                    [(ngModel)]="user.email"
                    [ngModelOptions]="{ standalone: true }"
                  />
                </div>

                <div class="mb-3">
                  <label for="password">Mật khẩu</label>
                  <div class="input-group auth-pass-inputgroup">
                    <input
                      class="form-control"
                      placeholder="Mật khẩu"
                      type="password"
                      id="password"
                      [(ngModel)]="user.password"
                      [ngModelOptions]="{ standalone: true }"
                    />
                  </div>
                </div>

                <div class="mt-3 mb-3 d-grid">
                  <p-button
                    label="Đăng nhập"
                    (click)="login(myForm.invalid)"
                  ></p-button>
                </div>

                <hr />

                <div class="mt-3 mb-3 d-grid">
                  <a
                    routerLink="/auth/sign-up"
                    [queryParams]="{ role: 'expert' }"
                  >
                    <p-button
                      label="Đăng ký tài khoản chuyên gia"
                      styleClass="p-button-outlined"
                    >
                    </p-button>
                  </a>
                </div>

                <div class="mt-3 mb-3 d-grid">
                  <a
                    routerLink="/auth/sign-up"
                    [queryParams]="{ role: 'user' }"
                  >
                    <p-button
                      label="Đăng ký tài khoản tổ chức"
                      styleClass="p-button-outlined"
                    >
                    </p-button>
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end container -->
</div>
<!-- end page -->
<app-spinner [visible]="visible"></app-spinner>
