<div class="container mt-20">
  <!-- infomation and contact -->
  <div
    class="mb-5 row"
    [ngClass]="inforExperts?.userInfo?.role === 'USER' ? '' : 'bg-white'"
  >
    <div
      class="p-8 row rounded-3xl"
      [ngClass]="
        inforExperts?.userInfo?.role === 'USER'
          ? 'col-lg-8 bg-white'
          : 'col-lg-12'
      "
      [ngStyle]="
        inforExperts?.userInfo?.walletAddress
          ? { 'margin-right': '12px' }
          : { 'margin-right': '12px', border: '5px solid #c13c3c' }
      "
    >
      <div class="col-lg-3">
        <img
          width="150"
          height="150"
          src="../../../assets/images/avatar.png"
          alt="avatar"
        />
      </div>
      <div class="col-lg-6">
        <p
          class="text-xl font-semibold"
          style="font-family: 'Montserrat', sans-serif"
          *ngIf="inforExperts?.userInfo?.role === 'USER'"
        >
          {{ inforExperts?.userInfo?.firstName }}
          {{ inforExperts?.userInfo?.lastName }}
        </p>
        <p
          class="text-xl font-semibold"
          style="font-family: 'Montserrat', sans-serif"
          *ngIf="inforExperts?.userInfo?.role !== 'USER'"
        >
          {{ inforExperts?.userInfo?.companyName }}
        </p>
        <p
          class="text-[16px] font-medium"
          style="font-family: 'Montserrat', sans-serif"
          *ngIf="inforExperts?.userInfo?.role === 'USER'"
        >
          {{ inforExperts?.userInfo?.jobTitle }} ,
          {{ inforExperts?.userInfo?.companyName }}
        </p>

        <p
          class="text-[16px] font-medium"
          style="font-family: 'Montserrat', sans-serif"
          *ngIf="inforExperts?.userInfo?.role !== 'USER'"
        >
          {{ inforExperts?.userInfo?.jobTitle }}
        </p>
        <div class="flex">
          <span class="address">{{ inforExperts?.userInfo?.location }}</span>
          <span
            *ngIf="inforExperts?.userInfo?.role === 'USER'"
            class="contact-btn"
            (click)="openContactInfo()"
            >Contact Info</span
          >
          <p-dialog
            header="{{ inforExperts?.userInfo?.firstName }}
            {{ inforExperts?.userInfo?.lastName }}"
            [(visible)]="visible"
            [modal]="true"
            [style]="{ width: '50vw' }"
            [draggable]="false"
            [resizable]="false"
          >
            <div class="text-xl">Contact Info</div>
            <div class="flex items-start mb-3">
              <img
                src="../../../assets/images/icons/icons-linkedin.png"
                alt="linkedin"
              />
              <div style="margin-left: 10px">
                <div>Your Phone</div>
                <div>{{ inforExperts?.userInfo?.phone }}</div>
              </div>
            </div>
            <div class="flex items-start mb-3">
              <img
                src="../../../assets/images/icons/icons-email.png"
                alt="linkedin"
              />
              <div style="margin-left: 10px">
                <div>Email</div>
                <a href="mailto:thiennt@gmail.com">{{
                  inforExperts?.userInfo?.email
                }}</a>
              </div>
            </div>
            <div class="flex items-start mb-3">
              <img
                src="../../../assets/images/icons/icons-birthday.png"
                alt="linkedin"
              />
              <div style="margin-left: 10px">
                <div>Birthday</div>
                <span>{{ inforExperts?.userInfo?.dateOfBirth }}</span>
              </div>
            </div>
          </p-dialog>
        </div>
        <button
          *ngIf="inforExperts?.userInfo?.role === 'USER'"
          class="send-request-btn"
        >
          + Thêm phần hồ sơ
        </button>
        <button
          *ngIf="!inforExperts?.userInfo?.walletAddress"
          class="send-request-btn"
          style="margin-left: '12px'"
          (click)="connectWallet()"
        >
          Connect Wallet
        </button>

        <div *ngIf="inforExperts?.userInfo?.role !== 'USER'" class="flex mt-4">
          <div
            class="flex items-center"
            style="margin-right: 10px"
            *ngIf="inforExperts?.userInfo?.numberOfEmployee"
          >
            <img src="../../../assets/images/icons/members.png" alt="members" />
            <span style="margin-left: 10px"
              >{{ inforExperts?.userInfo?.numberOfEmployee }} + nhân viên</span
            >
          </div>
          <div
            class="flex items-center"
            style="margin-right: 10px"
            *ngIf="inforExperts?.userInfo?.link"
          >
            <img src="../../../assets/images/clock.svg" alt="icon clock" />
            <span style="margin-left: 10px">{{
              inforExperts?.userInfo?.link
            }}</span>
          </div>
          <div
            class="flex items-center"
            style="margin-right: 10px"
            *ngIf="inforExperts?.userInfo?.phone"
          >
            <img src="../../../assets/images/clock.svg" alt="icon clock" />
            <span style="margin-left: 10px">{{
              inforExperts?.userInfo?.phone
            }}</span>
          </div>
        </div>
      </div>
      <div
        *ngIf="inforExperts?.userInfo?.role === 'USER'"
        class="p-10 col-lg-3"
      >
        <div class="flex items-center mb-3">
          <img src="../../../assets/images/clock.svg" alt="icon clock" />
          <span class="exp">{{ inforExperts?.userInfo?.yearOfExp }} năm</span>
        </div>
        <div class="flex items-center">
          <img
            src="../../../assets/images/portfolio.svg"
            alt="icon portfolio"
          />
          <span class="exp">{{ inforExperts?.userInfo?.skill?.[0] }}</span>
        </div>
      </div>
    </div>

    <div
      *ngIf="inforExperts?.userInfo?.role === 'USER'"
      class="p-8 bg-white col-lg-4 rounded-3xl rank"
    >
      <p class="text-center">Xếp hạng</p>
      <div>
        <p class="rating">4.8</p>
        <div class="flex justify-content-center">
          <p-rating
            [(ngModel)]="value"
            [readonly]="true"
            [cancel]="false"
          ></p-rating>
        </div>
      </div>
    </div>
    <div class="p-8" *ngIf="inforExperts?.userInfo?.role !== 'USER'">
      <div class="flex items-center">
        <div class="mark"></div>
        <span class="title">Giới thiệu</span>
      </div>
      <div class="mt-2">{{ inforExperts?.userInfo?.description }}</div>
    </div>
    <div
      class="absolute cursor-pointer"
      style="width: max-content !important; top: 20px; right: 20px"
      (click)="visibleUpdateProfile = !visibleUpdateProfile"
    >
      <img src="../../../assets/images/icons/icons-edit.png" alt="icon-edit" />
    </div>
  </div>

  <!-- List project -->
  <div
    *ngIf="inforExperts?.userInfo?.role === 'USER'"
    class="p-8 mb-5 bg-white rounded-3xl"
  >
    <div class="flex items-center justify-between">
      <div class="flex">
        <div class="flex items-center">
          <div class="mark"></div>
          <span class="title">Danh sách dự án</span>
        </div>
        <div class="search-input">
          <img
            class="object-fit-cover"
            src="../../../assets/images/icons/icons-search.png"
          />
          <input
            (keyup)="searchPJ($event)"
            type="text"
            [(ngModel)]="namePj"
            placeholder="Tìm kiếm dự án"
          />
        </div>
      </div>
      <div class="filter">
        <div>Trạng thái</div>
        <p-dropdown
          [options]="statusList"
          [(ngModel)]="selectedStatus"
          (onChange)="searchStatus($event)"
          optionLabel="name"
        ></p-dropdown>
      </div>
    </div>

    <p-table [value]="products" [tableStyle]="{ 'min-width': '60rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id" style="width: 5%">Id</th>
          <th pSortableColumn="name" style="width: 20%">Tên dự án</th>
          <th pSortableColumn="status" style="width: 20%">
            Trạng thái <p-sortIcon field="status"></p-sortIcon>
          </th>
          <th pSortableColumn="subject" style="width: 20%">Lĩnh vực</th>
          <th pSortableColumn="createdAt" style="width: 20%">
            Thời gian tạo <p-sortIcon field="createdAt"></p-sortIcon>
          </th>
          <th pSortableColumn="action" style="width: 20%">Hành động</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product?.id }}</td>
          <td>{{ product?.title }}</td>
          <td>
            <div
              [ngStyle]="{
                background: product?.background,
                color: product?.color,
                width: 'max-content',
                padding: '2px 8px'
              }"
            >
              {{ product?.statusName }}
            </div>
          </td>
          <td>{{ product?.tag }}</td>
          <td>{{ product?.date }}</td>
          <td>
            <div class="status">
              <div
                *ngIf="product?.status === '0'"
                style="color: #2e70ea; cursor: pointer"
                (click)="acceptProject(product?.id)"
              >
                Chấp nhận
              </div>
              <div
                *ngIf="product?.status === '0'"
                style="color: #c50606; cursor: pointer"
                (click)="cancelProject(product?.id, 0)"
              >
                Từ chối
              </div>
              <div
                *ngIf="product?.status === '1'"
                style="color: #2e70ea; cursor: pointer"
                (click)="completeProject(product?.id)"
              >
                Hoàn thành
              </div>
              <p-rating
                *ngIf="product?.status === '4'"
                [(ngModel)]="product.rate"
                [readonly]="true"
                [cancel]="false"
              ></p-rating>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4">Chưa có dữ liệu.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <!-- List request -->
  <div
    *ngIf="inforExperts?.userInfo?.role !== 'USER'"
    class="p-8 mb-5 bg-white rounded-3xl"
  >
    <div class="flex items-center justify-between">
      <div class="flex">
        <div class="flex items-center">
          <div class="mark"></div>
          <span class="title">Danh sách dự án</span>
        </div>
        <div class="search-input">
          <img
            class="object-fit-cover"
            src="../../../assets/images/icons/icons-search.png"
          />
          <input
            (keyup)="searchPJRequest($event)"
            type="text"
            [(ngModel)]="namePjRequest"
            placeholder="Tìm kiếm dự án"
          />
        </div>
      </div>
      <div class="filter">
        <div>Trạng thái</div>
        <p-dropdown
          [options]="statusList"
          [(ngModel)]="selectedStatus"
          (onChange)="searchStatusRequest($event)"
          optionLabel="name"
        ></p-dropdown>
      </div>
    </div>

    <p-table [value]="request" [tableStyle]="{ 'min-width': '60rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="id" style="width: 5%">Id</th>
          <th pSortableColumn="name" style="width: 20%">Tên dự án</th>
          <th pSortableColumn="status" style="width: 20%">
            Trạng thái <p-sortIcon field="status"></p-sortIcon>
          </th>
          <th pSortableColumn="subject" style="width: 20%">Lĩnh vực</th>
          <th pSortableColumn="createdAt" style="width: 20%">
            Thời gian tạo <p-sortIcon field="createdAt"></p-sortIcon>
          </th>
          <th pSortableColumn="action" style="width: 20%">Hành động</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-request>
        <tr>
          <td>{{ request?.id }}</td>
          <td>{{ request?.title }}</td>
          <td>
            <div
              [ngStyle]="{
                background: request?.background,
                color: request?.color,
                width: 'max-content',
                padding: '2px 8px'
              }"
            >
              {{ request?.statusName }}
            </div>
          </td>
          <td>{{ request?.tag }}</td>
          <td>{{ request?.date }}</td>
          <td>
            <div class="status">
              <div
                *ngIf="request?.status === '0'"
                style="color: #2e70ea; cursor: pointer"
                (click)="cancelRequest(request?.id, 1)"
              >
                Huỷ
              </div>
              <div
                *ngIf="request?.status === '3' || request?.status === '1'"
                style="color: #c50606; cursor: pointer"
                (click)="cancelRequest(request?.id, 1)"
              >
                Từ chối
              </div>
              <div
                *ngIf="request?.status === '3'"
                style="color: #2e70ea; cursor: pointer"
                (click)="rateRequest(request?.id, request?.email)"
              >
                Đánh giá
              </div>
              <p-rating
                *ngIf="request?.status === '4'"
                [(ngModel)]="request.rate"
                [readonly]="true"
                [cancel]="false"
              ></p-rating>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4">Chưa có dữ liệu.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <!-- List experiences -->
  <div
    *ngIf="inforExperts?.userInfo?.role === 'USER'"
    class="p-8 mb-5 bg-white rounded-3xl"
  >
    <div class="flex items-center justify-between">
      <div class="flex items-center">
        <div class="mark"></div>
        <span class="title">Kinh nghiệm - Vị trí làm việc</span>
      </div>
      <img
        (click)="visibleExp = !visibleExp"
        class="cursor-pointer"
        src="../../../assets/images/icons/icons-plus.png"
        alt="icon plus"
      />
    </div>

    <div
      *ngIf="!openAllExp && inforExperts?.metadata?.EXPERIENCE?.length >= 1"
      class="mt-6 exp-content"
    >
      <div>{{ inforExperts?.metadata?.EXPERIENCE?.[0]?.positionName }}</div>
      <div>{{inforExperts?.metadata?.EXPERIENCE?.[0]?.employeeType}}</div>
      <div>
        {{inforExperts?.metadata?.EXPERIENCE?.[0]?.startDate}} -
        {{inforExperts?.metadata?.EXPERIENCE?.[0]?.isCurrentJob ? 'Hiện tại' : inforExperts?.metadata?.EXPERIENCE?.[0]?.endDate}}
      </div>
      <div>{{inforExperts?.metadata?.EXPERIENCE?.[0]?.companyAddress}}</div>
      <p class="mt-2">
        {{ inforExperts?.metadata?.EXPERIENCE?.[0]?.jobDesc | slice : sliceOptions.start : sliceOptions.end }}
        <span
          *ngIf="inforExperts?.metadata?.EXPERIENCE?.[0]?.jobDesc?.length >= sliceOptions.default"
        >
          <span (click)="onExpandText($event)">
            {{ seeMore ? "... see more" : "... see left" }}</span
          >
        </span>
      </p>
    </div>
    <div *ngIf="openAllExp && inforExperts?.metadata?.EXPERIENCE?.length >= 1">
      <div
        class="mt-6 exp-content"
        *ngFor="let exp of inforExperts?.metadata.EXPERIENCE"
      >
        <div>{{ exp?.positionName }}</div>
        <div>{{ exp?.employeeType }}</div>
        <div>
          {{ exp?.startDate }} -
          {{ exp?.isCurrentJob ? "Hiện tại" : exp?.endDate }}
        </div>
        <div>{{ exp?.companyAddress }}</div>
        <p class="mt-2">
          {{ exp?.jobDesc | slice : sliceOptions.start : sliceOptions.end }}
          <span *ngIf="exp?.jobDesc?.length >= sliceOptions.default">
            <span (click)="onExpandText($event)">
              {{ seeMore ? "... see more" : "... see left" }}</span
            >
          </span>
        </p>
      </div>
    </div>

    <div
      *ngIf="inforExperts?.metadata?.EXPERIENCE?.length > 1 && !openAllExp"
      class="flex justify-center"
      (click)="openAllExp = !openAllExp"
    >
      <div class="flex items-center mark-see-more">
        <div>
          Xem tất cả {{ inforExperts?.metadata?.EXPERIENCE?.length }} kinh
          nghiệm
        </div>
        <img
          src="../../../assets/images/icons/icons-right.png"
          alt="icon right"
        />
      </div>
    </div>
  </div>

  <!-- List edu -->
  <div
    *ngIf="inforExperts?.userInfo?.role === 'USER'"
    class="p-8 mb-5 bg-white rounded-3xl"
  >
    <div class="flex items-center justify-between">
      <div class="flex items-center">
        <div class="mark"></div>
        <span class="title">Học vấn</span>
      </div>
      <img
        (click)="visibleEdu = !visibleEdu"
        class="cursor-pointer"
        src="../../../assets/images/icons/icons-plus.png"
        alt="icon plus"
      />
    </div>

    <div *ngIf="!openAllEdus && inforExperts?.metadata?.CERT_EDU?.length >= 1">
      <div class="mt-6 edu-content">
        <div>{{ inforExperts?.metadata.CERT_EDU?.[0]?.uniName }}</div>
        <div>{{ inforExperts?.metadata.CERT_EDU?.[0]?.major }}</div>
        <div>Cấp: {{ inforExperts?.metadata.CERT_EDU?.[0]?.degree }}</div>
      </div>
    </div>

    <div *ngIf="openAllEdus && inforExperts?.metadata?.CERT_EDU?.length >= 1">
      <div
        class="mt-6 edu-content"
        *ngFor="let edus of inforExperts?.metadata.CERT_EDU"
      >
        <div>{{ edus?.uniName }}</div>
        <div>{{ edus?.major }}</div>
        <div>Cấp: {{ edus?.degree }}</div>
      </div>
    </div>

    <div
      class="flex justify-center"
      *ngIf="inforExperts?.metadata?.CERT_EDU?.length > 1 && !openAllEdus"
      (click)="openAllEdus = !openAllEdus"
    >
      <div class="flex items-center mark-see-more">
        <div>
          Xem tất cả {{ inforExperts?.metadata?.CERT_EDU?.length }} học vấn
        </div>
        <img
          src="../../../assets/images/icons/icons-right.png"
          alt="icon right"
        />
      </div>
    </div>
  </div>

  <!-- List certificate -->
  <div
    *ngIf="inforExperts?.userInfo?.role === 'USER'"
    class="p-8 mb-5 bg-white rounded-3xl"
  >
    <div class="flex items-center justify-between">
      <div class="flex items-center">
        <div class="mark"></div>
        <span class="title">Chứng chỉ/ Bằng cấp</span>
      </div>
      <img
        (click)="visibleLicenses = !visibleLicenses"
        class="cursor-pointer"
        src="../../../assets/images/icons/icons-plus.png"
        alt="icon plus"
      />
    </div>

    <div
      *ngIf="
        !openAllLiense && inforExperts?.metadata?.CERT_LICENSES?.length >= 1
      "
      class="mt-6 certificate-content"
    >
      <div>{{inforExperts?.metadata?.CERT_LICENSES?.[0]?.publisher}}</div>
      <div>{{inforExperts?.metadata?.CERT_LICENSES?.[0]?.licensesName}}</div>
      <div>
        {{inforExperts?.metadata?.CERT_LICENSES?.[0]?.publishFrom}} -
        {{inforExperts?.metadata?.CERT_LICENSES?.[0]?.publishTo}}
      </div>
      <div>
        Mã: {{inforExperts?.metadata?.CERT_LICENSES?.[0]?.licensesCode}}
      </div>
      <p class="mt-2">
        Đường dẫn:
        {{inforExperts?.metadata?.CERT_LICENSES?.[0]?.licensesUrl}}
      </p>
    </div>

    <div
      *ngIf="
        openAllLiense && inforExperts?.metadata?.CERT_LICENSES?.length >= 1
      "
    >
      <div
        class="mt-6 certificate-content"
        *ngFor="let liense of inforExperts?.metadata?.CERT_LICENSES"
      >
        <div>{{ liense?.publisher }}</div>
        <div>{{ liense?.licensesName }}</div>
        <div>{{ liense.publishFrom }} - {{ liense.publishTo }}</div>
        <div>Mã: {{ liense.licensesCode }}</div>
        <p class="mt-2">
          Đường dẫn:
          {{ liense.licensesUrl }}
        </p>
      </div>
    </div>

    <div
      class="flex justify-center"
      *ngIf="
        inforExperts?.metadata?.CERT_LICENSES?.length > 1 && !openAllLiense
      "
      (click)="openAllLiense = !openAllLiense"
    >
      <div class="flex items-center mark-see-more">
        <div>
          Xem tất cả {{ inforExperts?.metadata?.CERT_LICENSES?.length }} chứng
          chỉ
        </div>
        <img
          src="../../../assets/images/icons/icons-right.png"
          alt="icon right"
        />
      </div>
    </div>
  </div>

  <!-- List awards -->
  <div
    *ngIf="inforExperts?.userInfo?.role === 'USER'"
    class="p-8 mb-5 bg-white rounded-3xl"
  >
    <div class="flex items-center justify-between">
      <div class="flex items-center">
        <div class="mark"></div>
        <span class="title">Danh hiệu và Giải thưởng</span>
      </div>
      <img
        class="cursor-pointer"
        (click)="visibleAwards = !visibleAwards"
        src="../../../assets/images/icons/icons-plus.png"
        alt="icon plus"
      />
    </div>
    <div
      *ngIf="!openAllAwards && inforExperts?.metadata?.CERT_AWARD?.length >= 1"
      class="mt-6 awards-content"
    >
      <div>{{inforExperts?.metadata?.CERT_AWARD?.[0]?.awardName}}</div>
      <div>{{inforExperts?.metadata?.CERT_AWARD?.[0]?.awardOrg}}</div>
      <div>{{inforExperts?.metadata?.CERT_AWARD?.[0]?.publishDate}}</div>
    </div>
    <div
      *ngIf="openAllAwards && inforExperts?.metadata?.CERT_AWARD?.length >= 1"
    >
      <div
        class="mt-6 awards-content"
        *ngFor="let awards of inforExperts?.metadata?.CERT_AWARD"
      >
        <div>{{ awards?.awardName }}</div>
        <div>{{ awards?.awardOrg }}</div>
        <div>{{ awards?.publishDate }}</div>
      </div>
    </div>

    <div
      class="flex justify-center"
      *ngIf="inforExperts?.metadata?.CERT_AWARD?.length > 1 && !openAllAwards"
      (click)="openAllAwards = !openAllAwards"
    >
      <div class="flex items-center mark-see-more">
        <div>
          Xem tất cả {{ inforExperts?.metadata?.CERT_AWARD?.length }} danh hiệu
          và giải thưởng
        </div>
        <img
          src="../../../assets/images/icons/icons-right.png"
          alt="icon right"
        />
      </div>
    </div>
  </div>

  <!-- List skill -->
  <div
    *ngIf="inforExperts?.userInfo?.role === 'USER'"
    class="p-8 mb-5 bg-white rounded-3xl"
  >
    <div class="flex items-center justify-between">
      <div class="flex items-center">
        <div class="mark"></div>
        <span class="title">Kĩ năng</span>
      </div>
      <img
        class="cursor-pointer"
        (click)="visibleSkills = !visibleSkills"
        src="../../../assets/images/icons/icons-plus.png"
        alt="icon plus"
      />
    </div>
    <div
      *ngIf="openAllSkills && inforExperts?.metadata?.SPECIALTY?.length >= 1"
      class="mt-6 skills-content"
    >
      <div *ngFor="let speciality of inforExperts?.metadata?.SPECIALTY">
        <p>{{ speciality?.yearOfExp }} năm kinh nghiệm</p>
        <div class="flex">
          <span style="margin-right: 10px">Chuyên môn: </span>
          <div class="flex mb-2">
            <div
              *ngFor="let item of speciality?.specialities"
              class="item-skills"
            >
              {{ item }}
            </div>
          </div>
        </div>
        <div class="flex mb-2">
          <span style="margin-right: 10px">Kỹ năng: </span>
          <div class="flex">
            <div *ngFor="let item of speciality?.skills" class="item-skills">
              {{ item }}
            </div>
          </div>
        </div>
        <div class="flex">
          <span style="margin-right: 10px">Ngôn ngữ: </span>
          <div class="flex">
            <div *ngFor="let item of speciality?.languages" class="item-skills">
              {{ item }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      *ngIf="!openAllSkills && inforExperts?.metadata?.SPECIALTY?.length >= 1"
      class="mt-6 skills-content"
    >
      <div>
        <p>
          {{ inforExperts?.metadata?.SPECIALTY?.[0]?.yearOfExp }} năm kinh
          nghiệm
        </p>
        <div class="flex">
          <span style="margin-right: 10px">Chuyên môn: </span>
          <div class="flex mb-2">
            <div
              *ngFor="let item of inforExperts?.metadata?.SPECIALTY?.[0]?.specialities"
              class="item-skills"
            >
              {{ item }}
            </div>
          </div>
        </div>
        <div class="flex mb-2">
          <span style="margin-right: 10px">Kỹ năng: </span>
          <div class="flex">
            <div
              *ngFor="let item of inforExperts?.metadata?.SPECIALTY?.[0]?.skills"
              class="item-skills"
            >
              {{ item }}
            </div>
          </div>
        </div>
        <div class="flex">
          <span style="margin-right: 10px">Ngôn ngữ: </span>
          <div class="flex">
            <div
              *ngFor="let item of inforExperts?.metadata?.SPECIALTY?.[0]?.languages"
              class="item-skills"
            >
              {{ item }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="flex justify-center"
      *ngIf="inforExperts?.metadata?.SPECIALTY?.length > 1 && !openAllSkills"
      (click)="openAllSkills = !openAllSkills"
    >
      <div class="flex items-center mark-see-more">
        <div>
          Xem tất cả {{ inforExperts?.metadata?.SPECIALTY?.length }} kỹ năng
          chuyên môn
        </div>
        <img
          src="../../../assets/images/icons/icons-right.png"
          alt="icon right"
        />
      </div>
    </div>
  </div>

  <!-- List course -->
  <div
    *ngIf="inforExperts?.userInfo?.role === 'USER'"
    class="p-8 mb-5 bg-white rounded-3xl"
  >
    <div class="flex items-center justify-between">
      <div class="flex items-center">
        <div class="mark"></div>
        <span class="title">Khoá học</span>
      </div>
      <img
        class="cursor-pointer"
        (click)="visibleCourses = !visibleCourses"
        src="../../../assets/images/icons/icons-plus.png"
        alt="icon plus"
      />
    </div>
    <div
      class="mt-6 courses-content"
      *ngIf="
        !openAllCourses && inforExperts?.metadata?.CERT_COURSE?.length >= 1
      "
    >
      <div>{{ inforExperts?.metadata?.CERT_COURSE?.[0]?.courseName }}</div>
      <div>{{ inforExperts?.metadata?.CERT_COURSE?.[0]?.courseProvider }}</div>
    </div>
    <div
      *ngIf="openAllCourses && inforExperts?.metadata?.CERT_COURSE?.length >= 1"
    >
      <div
        class="mt-6 courses-content"
        *ngFor="let course of inforExperts?.metadata?.CERT_COURSE"
      >
        <div>{{ course?.courseName }}</div>
        <div>{{ course?.courseProvider }}</div>
      </div>
    </div>

    <div
      class="flex justify-center"
      *ngIf="inforExperts?.metadata?.CERT_COURSE?.length > 1 && !openAllCourses"
      (click)="openAllCourses = !openAllCourses"
    >
      <div class="flex items-center mark-see-more">
        <div>
          Xem tất cả {{ inforExperts?.metadata?.CERT_COURSE?.length }} chứng chỉ
        </div>
        <img
          src="../../../assets/images/icons/icons-right.png"
          alt="icon right"
        />
      </div>
    </div>
  </div>

  <app-experience-popup
    [visible]="visibleExp"
    (newExpEvent)="addNewExp($event)"
    (closeEvent)="closeExpPopup()"
  ></app-experience-popup>
  <app-edu-popup
    [visible]="visibleEdu"
    (newEduEvent)="addNewEdu($event)"
    (closeEvent)="closeEduPopup()"
  ></app-edu-popup>
  <app-licenses-popup
    [visible]="visibleLicenses"
    (newLicensesEvent)="addNewLicenses($event)"
    (closeEvent)="closeLicensesPopup()"
  ></app-licenses-popup>
  <app-awards-popup
    [visible]="visibleAwards"
    (newAwardEvent)="addNewAward($event)"
    (closeEvent)="closeAwardPopup()"
  ></app-awards-popup>
  <app-courses-popup
    [visible]="visibleCourses"
    (newCoursesEvent)="addNewCourse($event)"
    (closeEvent)="closeCoursePopup()"
  ></app-courses-popup>
  <app-skills-popup
    [visible]="visibleSkills"
    (newSkillsEvent)="addNewSkill($event)"
    (closeEvent)="closeSkillPopup()"
  ></app-skills-popup>

  <p-dialog
    header="Đánh giá chuyên gia"
    [(visible)]="visibleRating"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
  >
    <div class="text-xl">
      Tên chuyên gia:
      <span
        class="cursor-pointer"
        style="color: blue"
        (click)="goToDetailExpert(emailRate)"
        >{{ emailRate }}</span
      >
    </div>

    <div class="flex justify-center">
      <p-rating [(ngModel)]="valueRate" [cancel]="false"></p-rating>
    </div>
    <p>Nhận xét</p>
    <textarea class="w-100" rows="3" cols="20" pInputTextarea></textarea>
    <ng-template pTemplate="footer">
      <div class="flex justify-center">
        <p-button label="Gửi đánh giá" (click)="onSubmitRate()"></p-button>
      </div>
    </ng-template>
  </p-dialog>

  <p-dialog
    header="Lý do từ chối"
    [(visible)]="visibleReason"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
  >
    <p>Hãy điền lý do của bạn <span style="color: red">*</span></p>
    <textarea
      class="w-100"
      rows="3"
      cols="20"
      [(ngModel)]="reason"
      pInputTextarea
    ></textarea>
    <ng-template pTemplate="footer">
      <div class="flex justify-center">
        <p-button
          label="Cancel"
          styleClass="p-button-danger"
          (click)="onSubmitCancel()"
        ></p-button>
      </div>
    </ng-template>
  </p-dialog>

  <p-dialog
    header="Cập nhật thông tin"
    [(visible)]="visibleUpdateProfile"
    [modal]="true"
    [style]="{ width: '50vw' }"
    [draggable]="false"
    [resizable]="false"
  >
    <div *ngIf="inforExperts?.userInfo?.role !== 'USER'">
      <p>Tên công ty <span style="color: red">*</span></p>
      <input
        class="w-100"
        type="text"
        [(ngModel)]="companyName"
        placeholder="Nhập tên công ty"
        pInputText
      />

      <p>Mã số thuế <span style="color: red">*</span></p>
      <input
        class="w-100"
        type="text"
        [(ngModel)]="taxNumber"
        placeholder="Nhập mã số thuế"
        pInputText
      />

      <p>Lĩnh vực hoạt động <span style="color: red">*</span></p>
      <input
        class="w-100"
        type="text"
        [(ngModel)]="jobTitle"
        placeholder="Nhập lĩnh vực hoạt động"
        pInputText
      />

      <p>Quy mô công ty <span style="color: red">*</span></p>
      <input
        class="w-100"
        type="text"
        [(ngModel)]="numberOfEmployee"
        placeholder="Nhập quy mô công ty"
        pInputText
      />

      <p>Số điện thoại <span style="color: red">*</span></p>
      <input
        class="w-100"
        type="text"
        [(ngModel)]="phone"
        placeholder="Nhập số điện thoại"
        pInputText
      />
      <p>Địa chỉ <span style="color: red">*</span></p>
      <input
        class="w-100"
        type="text"
        [(ngModel)]="location"
        placeholder="Nhập địa chỉ chi tiết, phân cách nhau bằng kí tự '-'"
        pInputText
      />
      <p>Website</p>
      <input
        class="w-100"
        [(ngModel)]="link"
        type="text"
        placeholder="https://"
        pInputText
      />

      <p>Giới thiệu</p>
      <textarea
        class="w-100"
        rows="3"
        cols="20"
        [(ngModel)]="description"
        placeholder="Nhập giới thiệu về công ty"
        pInputTextarea
      ></textarea>
    </div>
    <div *ngIf="inforExperts?.userInfo?.role === 'USER'">
      <p>Họ <span style="color: red">*</span></p>
      <input
        class="w-100"
        [(ngModel)]="firstName"
        type="text"
        placeholder="Nhập họ"
        pInputText
      />

      <p>Tên <span style="color: red">*</span></p>
      <input
        class="w-100"
        [(ngModel)]="lastName"
        type="text"
        placeholder="Nhập tên"
        pInputText
      />

      <p>Giới tính <span style="color: red">*</span></p>
      <p-selectButton
        [options]="stateOptions"
        [(ngModel)]="gender"
        optionLabel="label"
        optionValue="value"
      ></p-selectButton>

      <p>Ngày sinh <span style="color: red">*</span></p>
      <p-calendar
        [style]="{ width: '100%' }"
        [(ngModel)]="dateOfBirth"
      ></p-calendar>

      <p>Số điện thoại <span style="color: red">*</span></p>
      <input
        class="w-100"
        type="text"
        [(ngModel)]="phone"
        placeholder="Nhập số điện thoại"
        pInputText
      />
      <p>Địa chỉ <span style="color: red">*</span></p>
      <input
        class="w-100"
        type="text"
        [(ngModel)]="location"
        placeholder="Nhập địa chỉ chi tiết, phân cách nhau bằng kí tự '-'"
        pInputText
      />

      <p>Giới thiệu</p>
      <textarea
        class="w-100"
        rows="3"
        cols="20"
        [(ngModel)]="description"
        placeholder="Nhập giới thiệu về bản thân"
        pInputTextarea
      ></textarea>
    </div>
    <div style="color: red">Vui lòng điền đầy đủ thông tin cần thiết!</div>
    <ng-template pTemplate="footer">
      <div class="flex justify-center">
        <p-button label="Lưu hồ sơ" (click)="onSubmitUpdate()"></p-button>
      </div>
    </ng-template>
  </p-dialog>
  <p-toast position="top-center"></p-toast>
</div>
