<body class="pt-4">
  <div class="container">
    <div class="row mb-4 mt-5">
      <div class="col-lg-9">
        <p-card>
          <div class="row align-items-center mt-3 mb-3">
            <div class="col-lg-3">
              <img
                class="rounded-circle"
                style="height: 150px; width: 150px"
                src="./assets/images/avatar.jpg"
              />
            </div>
            <div class="col-lg-6">
              <p class="fw-bold fs-4">Lê Ngọc Ánh</p>
              <p class="fw-semibold">Phân tích mã độc, CEM Software</p>
              <p class="fw-light">Thanh Xuân, Hà Nội</p>
              <p-button
                label="Gửi yêu cầu"
                (click)="createRequest()"
              ></p-button>
            </div>
            <div class="col-lg-3">
              <p><i class="fa-regular fa-clock"></i> 3 năm</p>
              <p><i class="fa-regular fa-briefcase"></i> Ứng cứu sự cố</p>
            </div>
          </div>
        </p-card>
      </div>
      <div class="col-lg-3">
        <p-card>
          <div class="row h-100 mb-3 mt-3 align-items-center">
            <p class="fw-bold text-center mb-3 fs-4">Xếp hạng</p>
            <p class="text-center text-info fw-bold fs-4">4.8</p>
          </div>
          <p class="text-center">
            <p-rating [cancel]="false"></p-rating>
          </p>
        </p-card>
      </div>
    </div>

    <div class="row mb-4">
      <p-card>
        <div class="row mb-3 align-items-center">
          <div class="col-lg-6 d-flex align-items-center">
            <span id="rectangle" class="me-2"></span>
            <span class="fs-4 fw-bold">Danh sách dự án</span>
            <span class="ms-3">
              <input pInputText placeholder="Tìm kiếm dự án" />
            </span>
          </div>
          <div class="col-lg-6">
            <span class="float-end">
              <p-selectButton
                [options]="stateOptions"
                [(ngModel)]="projectStt"
                optionLabel="label"
                optionValue="value"
              ></p-selectButton>
            </span>
          </div>
        </div>
        <div class="row mb-3">
          <p-table
            [value]="projectList"
            styleClass="p-datatable-striped"
            [tableStyle]="{ 'min-width': '50rem' }"
          >
            <ng-template pTemplate="header">
              <tr>
                <th>ID</th>
                <th>Tên dự án</th>
                <th>Ngày bắt đầu</th>
                <th>Ngày kết thúc</th>
                <th>Trạng thái</th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-project>
              <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.projectNm }}</td>
                <td>{{ project.startDt | date }}</td>
                <td>{{ project.endDt | date }}</td>
                <td>{{ project.status }}</td>
                <td>
                  <a href="javascript:void(0)"
                    >Xem dự án <i class="fa fa-arrow-right"></i
                  ></a>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-card>
    </div>

    <div class="row mb-4">
      <p-card>
        <div class="row mb-3 align-items-center">
          <div class="col-lg-6 d-flex align-items-center">
            <span id="rectangle" class="me-2"></span>
            <span class="fs-4 fw-bold">Kinh nghiệm - Vị trí làm việc</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-lg-1">
            <div style="height: 70px; width: 70px; background: #d9d9d9"></div>
          </div>
          <div class="col-lg-11">
            <div class="row mb-3">
              <p class="fw-bold">Phân tích mã độc</p>
              <p class="fw-semibold">CEM Software - Full time</p>
              <p class="fw-light">07/2022 - Hiện tại</p>
              <p class="fw-light">Hà Nội, Việt Nam</p>
              <p>
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet sint. Velit officia consequat duis enim velit mollit.
                Exercitation veniam consequat sunt nostrud amet. Amet minim
                mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                Velit officia consequat duis álkfj...
              </p>

              <hr />
            </div>
          </div>
        </div>
      </p-card>
    </div>

    <div class="row mb-4">
      <p-card>
        <div class="row mb-3 align-items-center">
          <div class="col-lg-6 d-flex align-items-center">
            <span id="rectangle" class="me-2"></span>
            <span class="fs-4 fw-bold">Học vấn</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-lg-1">
            <div style="height: 70px; width: 70px; background: #d9d9d9"></div>
          </div>
          <div class="col-lg-11">
            <div class="row mb-3">
              <p class="fw-bold">Học viện kỹ thuật mật mã</p>
              <p class="fw-light">An toàn thông tin</p>
              <p>Cấp: Khá</p>

              <hr />
            </div>
          </div>
        </div>
      </p-card>
    </div>

    <div class="row mb-4">
      <p-card>
        <div class="row mb-3 align-items-center">
          <div class="col-lg-6 d-flex align-items-center">
            <span id="rectangle" class="me-2"></span>
            <span class="fs-4 fw-bold">Chứng chỉ - Bằng cấp</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-lg-1">
            <div style="height: 70px; width: 70px; background: #d9d9d9"></div>
          </div>
          <div class="col-lg-11">
            <div class="row mb-3">
              <p class="fw-bold">GREM (GIAC Reverse Engineering Malware)</p>
              <p class="fw-semibold">Chứng nhận GIAC</p>
              <p class="fw-light">07/2022 - 7/2025</p>
              <p class="fw-light">Mã: 254810</p>
              <p>
                Đường dẫn:
                <a href="javascript:void(0)"
                  >https://www.figma.com/file/jcJSaw8H5Gx2cifNMpXzUf/%C4%90%E1%BB%93-%C3%A1n-t%E1%BB%91t-nghi%E1%BB%87p?type=design&node-id=358-12588&t=VGmHGdAUJP7Lgh4l-4</a
                >
              </p>

              <hr />
            </div>
          </div>
        </div>
      </p-card>
    </div>

    <div class="row mb-4">
      <p-card>
        <div class="row mb-3 align-items-center">
          <div class="col-lg-6 d-flex align-items-center">
            <span id="rectangle" class="me-2"></span>
            <span class="fs-4 fw-bold">Danh hiệu và Giải thưởng</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-lg-1">
            <div style="height: 70px; width: 70px; background: #d9d9d9"></div>
          </div>
          <div class="col-lg-11">
            <div class="row mb-3">
              <p class="fw-bold">Tên giải thưởng</p>
              <p class="fw-semibold">Tên tổ chức</p>
              <p class="fw-light">24/07/2022</p>

              <hr />
            </div>
          </div>
        </div>
      </p-card>
    </div>

    <div class="row mb-4">
      <p-card>
        <div class="row mb-3 align-items-center">
          <div class="col-lg-6 d-flex align-items-center">
            <span id="rectangle" class="me-2"></span>
            <span class="fs-4 fw-bold">Kĩ năng</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="row mb-3">
            <p class="fw-bold">Tên kĩ năng 1</p>
          </div>

          <hr />

          <div class="row mb-3">
            <p class="fw-bold">Tên kĩ năng 1</p>
          </div>
        </div>
      </p-card>
    </div>

    <div class="row mb-4">
      <p-card>
        <div class="row mb-3 align-items-center">
          <div class="col-lg-6 d-flex align-items-center">
            <span id="rectangle" class="me-2"></span>
            <span class="fs-4 fw-bold">Khóa học</span>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-lg-1">
            <div style="height: 70px; width: 70px; background: #d9d9d9"></div>
          </div>
          <div class="col-lg-11">
            <div class="row mb-3">
              <p class="fw-bold">Tên khóa học</p>
              <p class="fw-semibold">Tên tổ chức</p>

              <hr />
            </div>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</body>

<p-dialog
  header="Header"
  [(visible)]="createRequestVisible"
  [style]="{ width: '50vw' }"
  [closable]="false"
>
  <ng-template pTemplate="header">
    <div class="row mb-3">
      <span class="text-center fs-3 mb-3"><b>Yêu cầu hợp tác dự án</b></span>
      <span class="text-center"
        >Hãy điền đầy đủ thông tin để chuyên gia có thể hiểu về dự án của
        bạn</span
      >
    </div>
  </ng-template>
  <div class="row mb-3">
    <div class="mb-3">
      <label class="mb-2">Tên dự án</label>

      <input type="text" class="form-control" placeholder="Nhập tên dự án" />
    </div>

    <div class="mb-3">
      <label class="mb-2">Chuyên môn/ lĩnh vực</label>

      <div>
        <p-dropdown
          [options]="specialityList"
          optionLabel="name"
          placeholder="Chọn chuyên môn"
        ></p-dropdown>
      </div>
    </div>

    <div class="mb-3">
      <label class="mb-2">Mổ tả chi tiết (JD)</label>
      <div>
        <p-fileUpload
          mode="basic"
          chooseLabel="Choose"
          name="demo[]"
          accept=".doc,.docx,.pdf"
        ></p-fileUpload>
      </div>
    </div>

    <div class="mb-3">
      <label class="mb-2">Mô tả bổ sung</label>
      <div>
        <textarea rows="5" style="width: 100%" pInputTextarea></textarea>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      (click)="createRequestVisible = false"
      label="Gửi yêu cầu"
    ></p-button>
    <p-button
      (click)="createRequestVisible = false"
      styleClass="p-button-secondary"
      label="Hủy"
    ></p-button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Thông tin dự án"
  [(visible)]="haveRequest"
  [style]="{ width: '50vw' }"
>
  <div class="row mb-3">
    <div class="mb-3">
      <span class="mb-2">Tên dự án: <b>Khôi phục dữ liệu server</b></span>
    </div>

    <div class="mb-3">
      <span class="mb-2">Chuyên môn/ lĩnh vực: <b>Ứng cứu sự cố</b></span>
    </div>

    <div class="mb-3">
      <span class="mb-2">Công ty/ tổ chức: <b>Công ty cổ phần Thudo Multimedia</b></span>
    </div>

    <div class="mb-3">
      <span class="mb-2">Mổ tả chi tiết (JD)</span>
    </div>

    <div class="mb-3">
      <span class="mb-2">Mô tả bổ sung: <b>Hoàn thành càng nhanh càng tốt.</b></span>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      (click)="createRequestVisible = false"
      label="Chấp nhận"
    ></p-button>
    <p-button
      (click)="createRequestVisible = false"
      styleClass="p-button-outlined"
      label="Từ chối"
    ></p-button>
  </ng-template>
</p-dialog>
