.auth-one-bg .bg-overlay {
  background: linear-gradient(45deg, black, black) !important;
}

:host ::ng-deep .p-button,
:host ::ng-deep .p-inputwrapper .p-dropdown {
  width: 100%;
}

a {
  text-decoration: none;
}

.form-control {
  height: 50px;
}
