<p-dialog
  header="Thêm học vấn"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '30vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="closeEduPopup()"
>
  <p>Tên trường/ học viện <span style="color: red">*</span></p>
  <input
    class="w-100"
    type="text"
    [(ngModel)]="uniName"
    placeholder="Ví dụ: Học việc kỹ thuật mật mã"
    pInputText
  />

  <p>Chuyên nghành <span style="color: red">*</span></p>
  <input
    class="w-100"
    type="text"
    placeholder="Ví dụ: An toàn thông tin"
    pInputText
    [(ngModel)]="major"
  />
  <p>Bằng cấp <span style="color: red">*</span></p>
  <p-dropdown
    [options]="listDegreeType"
    [style]="{ width: '100%' }"
    optionLabel="name"
    [(ngModel)]="degree"
  ></p-dropdown>

  <p>Thời gian bắt đầu <span style="color: red">*</span></p>
  <p-calendar
    view="month"
    [style]="{ width: '100%' }"
    dateFormat="mm/yy"
    [readonlyInput]="true"
    [(ngModel)]="startDate"
  ></p-calendar>

  <p>Thời gian kết thúc</p>
  <p-calendar
    view="month"
    [style]="{ width: '100%' }"
    dateFormat="mm/yy"
    [(ngModel)]="endDate"
    [readonlyInput]="true"
  ></p-calendar>

  <p>GPA</p>
  <input class="w-100" type="text" pInputText [(ngModel)]="gpa" />

  <p>Mô tả</p>
  <textarea
    class="w-100"
    rows="3"
    cols="20"
    pInputTextarea
    placeholder="Nhập mô tả"
    [(ngModel)]="description"
  ></textarea>
  <div style="color: red" *ngIf="errorMessage">
    Vui lòng điền đầy đủ thông tin cần thiết!
  </div>
  <div class="flex justify-center">
    <p-button (click)="addNewEdu()">Gửi</p-button>
  </div>
</p-dialog>
