.mt-6 {
    margin: 0 200px !important;
  }
  
  .search-collapse {
    background-color: #faf8f84d;
  }
  
  .content {
    background-color: #faf8f84d;
    max-height: 0;
    overflow: hidden;
  }
  
  .active {
    padding: 1rem;
    max-height: none;
  }
  
  :host ::ng-deep .p-inputtext {
    width: 100% !important;
  }
  
  :host ::ng-deep .p-inputwrapper .p-dropdown {
    width: 100% !important;
  }
  
  .nav-sticky span {
    color: black !important;
  }
  
  .bg-transparent-service {
    background-color: transparent !important;
    background-image: linear-gradient(to bottom, #3b82f6bd, #bfdbfe78) !important;
  }
  
  a {
    text-decoration: none;
  }
  